:root {
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;

  background-color: #fff;
  padding: 2.5rem;

  display: flex;
}

/* SIDEBAR */
.sidebar {
  flex-basis: 50rem;
  background-color: var(--color-dark--1);
  padding: 3rem 4rem 4rem 4rem;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 5.2rem;
  align-self: center;
  margin-bottom: 2.2rem;
  text-align: center;
  font-size: 4rem;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  height: 40px;
  margin: 1.5rem 0;
  padding: 0rem 7rem 0rem 2rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  font-size: 1.6rem;
}

.btn {
  height: 40px;
  width: 80px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--color-light--3);
}

.search-bar::placeholder {
  color: var(--color-light--1);
}

.city-data-container {
  list-style: none;
  height: 77vh;
  overflow-x: hidden;
}

.err-message {
  text-align: center;
  margin-top: 8rem;
  font-size: 2rem;
}

.city {
  font-size: 1.6rem;
}

.city-img {
  width: 380px;
  margin: 1rem 0 2rem 0;
}

.scores {
  margin-top: 2rem;
}

.scores :last-child {
  margin-top: 2rem;
  font-size: 2.5rem;
}

/* MAP */
#map {
  flex: 1;
  height: 100%;
  background-color: var(--color-light--1);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* MEDIA QUERIES */

/*////////////////////////////////////////////
// BELOW 850px (Phones and tablet portrait) //
////////////////////////////////////////////*/

@media only screen and (max-width: 850px) and (orientation: portrait) {
  body {
    flex-direction: column;
    padding: 1rem;
  }

  .sidebar {
    flex-basis: 40rem;
    height: 50%;
    padding: 1rem 2rem 2rem 2rem;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }

  .city-data-container {
    height: auto;
  }

  .logo {
    margin-bottom: 1px;
    font-size: 3.5rem;
  }
  .search-bar {
    padding: 0rem 1rem 0rem 2rem;
  }

  #map {
    border-top-right-radius: 0;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
}

/*///////////////////////////////////////////////
// BELOW 1200px (Landscape Phones and Tablets) //
///////////////////////////////////////////////*/

@media only screen and (max-width: 1200px) and (orientation: landscape) {
  body {
    padding: 1rem;
  }

  .sidebar {
    flex-basis: 25rem;
    width: 40%;
    padding: 1rem 2rem 2rem 2rem;
  }
  .logo {
    margin-bottom: 1px;
    font-size: 3.5rem;
  }

  .search-bar {
    padding: 0rem 1rem 0rem 2rem;
  }
}
